.menu{
    grid-area: menu;
    padding-right: 40px;
    margin-right: 10px;
    background: #dedede;
   }
.menu__item a{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    line-height: 31px;
    text-decoration: none;
}