.btnAddet{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background: red;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: -47px;
    margin-left: 210px;
    display: block;
}
.post{
    font-size: 16px;
    color: tomato;
} 
.item img{
    border-radius: 50%;
    width: 68px;
    height: 68px;
    margin-right: 50px;
}
.item{
    display: flex;
    align-items: center;
}
.ava-desc,.item,.post{
    padding-left: 20px;
}